@import "~bootstrap/scss/bootstrap";

.form-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.spinner-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #007bff;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease 0.3s;

    &.is-active-spinner {
        visibility: visible;
        opacity: 1;
    }
}

.error-block {
    display: none;
    color: #d54343;
    font-size: 12px;
    padding: 5px 16px;

    &.is-error-active {
        display: block;
    }
}