@import "~bootstrap/scss/bootstrap";

body {
    color: #fff;
}

.jumbotron {
    background: #343a40;
}

.description-link {
    color: #828485;
}

.form {
    margin-top: 20px;
}

.form-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.spinner-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #007bff;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease 0.3s;

    &.is-active-spinner {
        visibility: visible;
        opacity: 1;
    }
}

.feedback-block {
    height: 28px;
    color: #d54343;
    font-size: 12px;
    padding: 5px 16px;
    visibility: hidden;

    &.is-error {
        visibility: visible;
    }

    &.is-success {
        visibility: visible;
        font-size: 14px;
        color: #28a745;
    }
}

.feed-section {
    color: #000000;
    margin-bottom: 40px;
}

.feed-section__title {
    margin-bottom: 20px;
}

.feed-section__description {
    margin-bottom: 20px;
}

.feed-section__list {
    list-style-type: none;
    padding-left: 0;
}

.feed-section__item {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

a.feed-section__link {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: border ease 0.3s;

    &:hover {
        border-color: #007bff;
    }
}